// $theme-colors: (
// "info": tomato,
// "danger": #050050
// );

@font-face {
  font-family: "'Cairo', sans-serif";
  src: url(../assets/fonts/Cairo-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "'Cairo', sans-serif";
  src: url(../assets/fonts/Cairo-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "'Cairo', sans-serif";
  src: url(../assets/fonts/Cairo-SemiBold.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "'Cairo', sans-serif";
  src: url(../assets/fonts/Cairo-Bold.ttf) format("truetype");
  font-weight: 700;
}
$font-family-base: "'Cairo', sans-serif" !important;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.form-control {
  caret-color: $primary;
  &:hover,
  &:focus {
    box-shadow: $mainShadow;
  }
}

.navbar-toggler {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 0;
  border: none;
}

.nav-link {
  color: #000000 !important;
  font-size: 14px;
  &:hover {
    color: #00000090 !important;
  }
}
