$mainShadow: 0px 4px 24px rgba(0, 0, 0, 0.06);

@import "custom.scss";
@import "components/components-dir";

html {
  scroll-behavior: smooth;
  body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    // .btm-shadow{
    //   ::shadow
    // }
  }

  .mainShadow {
    box-shadow: $mainShadow;
  }
}
