$theme-colors: (
  "primary": #0046fe,
  "secondary": #6c757d,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "light": #f9f9f9,
  "dark": #343a40,
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  &:hover {
    background: $primary;
  }
}

.row {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  padding: 0 5px;
}

td {
  vertical-align: middle;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
  width: auto;
  background-color: var(--bs-btn-color !important);
}

.cursor-pointer {
  cursor: pointer !important;
}

.form-label {
  font-weight: 700 !important;
  font-size: 1rem !important;
}
.form-control {
  border: 1px solid $secondary;
  border-radius: 0;
  padding: 0.6rem 0.75rem;
  &:hover {
    border: 1px solid #000;
  }
  &:focus {
    border: 1px solid $primary;
    box-shadow: none;
  }
  &:disabled {
    border: 0;
  }
}
.form-select {
  border: 1px solid $secondary;
  border-radius: 0;
  padding: 0.6rem 2rem;
  &:hover {
    border: 1px solid #000;
  }
  &:focus {
    border: 1px solid $primary;
    box-shadow: none;
  }
  &:disabled {
    border: 0;
  }
}

.accordion-button {
  &:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
  }

  &:not(.collapsed) {
    color: black;
    background-color: transparent;
    box-shadow: none;
  }
}

.rct-node-icon {
  display: none;
}
.rct-title {
  padding: 0 !important;
}
li.rct-node.rct-node-leaf {
  padding: 3px 10px 0 0;
}
.react-checkbox-tree label:hover {
  background: none;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 0;
  border: none;
}

.nav-link {
  color: #000000 !important;
  font-size: 14px;
  &:hover {
    color: #00000090 !important;
  }
}
